{% extends "base.html" %}
{% block title %} 註冊帳號 {% endblock title %}
{% block headmessage %}
    <div class="card" style="background-color:#FFA042;">
        <div class="card" style="background-color:#842B00;">
            <h3 style="font-family:微軟正黑體; font-size: 20pt; color:#FFF4C1; margin-left: 10px; margin-bottom: 0px; padding: 10px">註冊帳號
              <a class="btn btn-sm" style="background-color:#FFF4C1; color: #842B00; margin-top: 10px; float: right; margin-top: 0px; margin-right: 0px;" href='/'>回首頁</a>
              <a class="btn btn-sm" style="background-color:#FFF4C1; color: #842B00; margin-top: 10px; float: right; margin-top: 0px; margin-right: 5px;" href='{{ request.META.HTTP_REFERER }}'>回前頁</a>
            </h3>
        </div>
    </div>
{% endblock headmessage %}

{% block content %}
    {% if message %}
        <div class='alert alert-warning'style="background-color: #FFF4C1; color: #842B00;">
             {{ message }}
        </div>
    {% endif %}
    <form action="" method="post" style="background-color: #FFF4C1; padding: 20px; border-radius: 10px;">
        {% csrf_token %}
        
          <table style="color: #842B00;">
              {{ form.as_table }}
          </table>
       
      
        <input type='submit' class="btn" style="background-color:#842B00; color: #FFF4C1; margin-top: 10px;" value='註冊'>
        <input type='reset' class="btn" style="background-color:#842B00; color: #FFF4C1; margin-top: 10px;" value='清除重填'>
    </form> 
{% endblock content %}
