<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>

<h2>Book List</h2>

{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> - {{ book.write }}
                {% if book.isBorrow %}
                    <span style="color: red;">(外借中)</span>
                {% else %}
                    <span style="color: green;">(可借閱)</span>
                {% endif %}
                <br>
                <a href="{% url 'borrow_book' book.id %}">我要借書</a>
                <a href="{% url 'return_book' book.id %}">我要還書</a>
            </li>
        {% endfor %}
        <a style="font-family:微軟正黑體;color:#FFF4C1;background-color:#842B00" href='/'>回首頁</a>
    </ul>
{% else %}
    <p>No books available.</p>
{% endif %}

</body>
</html>