<!-- header.html-->
{%load static%}
<div class="well">
    <img src="{% static "images/999.png" %}">
    <img src="{% static "images/888.jfif" %}">
    <img src="{% static "images/999.png" %}">
    <img src="{% static "images/888.jfif" %}">
    <img src="{% static "images/999.png" %}">
    <img src="{% static "images/888.jfif" %}">
    <img src="{% static "images/999.png" %}">
    <img src="{% static "images/888.jfif" %}">
</div>
<h1 style="font-family:微軟正黑體;color:#B15BFF;background-color:#FFFCEC">NewJeans 新牛仔褲北商粉絲後援會 (HANNI好可愛)</h1>